/*!Footer*/
.footer {
  background-color: var(--bg-color);
  padding: 60px 0;
  margin: 0 auto;
  &__title {
    @include font-base(700, 14, 16);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__content {
    @media screen and (min-width: $desc) {
      display: flex;
    }
  }
  &__wrapper {
    @media screen and (min-width: $tab) {
      display: flex;
    }
  }
  &__contact {
    @media screen and (max-width: 1199px) {
      margin: 0 auto;
      text-align: center;
    }

    width: 231px;
    margin-bottom: 60px;
  }
  /* Модификатор logo */
  &--logo {
    @media screen and (max-width: 1199px) {
      margin: 0 auto;
    }
    color: #ffffff;
  }
  &__invite {
    margin: 0 auto;
    @media screen and (max-width: 767px) {
      margin-top: 60px;
    }
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
    @media screen and (min-width: $desc) {
      padding: 12px;
      margin-left: 58px;
    }
    margin-bottom: 60px;
  }
  /* Модификатор для
	 invite-list */
  &--invite {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  &__form {
    @media screen and (max-width: 1199px) {
      margin: 0 auto;
      margin-top: 60px;
    }
    @media screen and (min-width: $desc) {
      margin-left: 80px;
    }
    max-width: 450px;
  }
}
