/*!Footer*/
.footer {
	background-color: var(--bg-color);
	padding: 60px 0;
	margin: 0 auto;
	&__title {
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 20px;
	}
 	&__content {
		display: flex;
 	}
	&__contact {
		width: 231px;
 	}
 	/* Модификатор logo */
 	&--logo {
		color: #ffffff;
	}
 	&__invite {
		margin-left: 58px;
		padding: 12px;
	}
	/* Модификатор для
	 invite-list */
	&--invite {
		color: #fff;
		background-color: rgba(255, 255, 255, 0.1);
	}
}
 
