/*! Section Hero */
.hero {
  margin: 0 auto;
  padding: 0;
  background-color: var(--bg-color);
  @media screen and (min-width: $mob) {
    width: $mob;
  }
  @media screen and (min-width: $tab) {
    width: $tab;
  }
  @media screen and (min-width: $desc) {
    width: 100%;
    max-width: 1600px;
  }
  &__content {
    padding: 118px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-mob-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/x2/hero-mob-img-x2.jpg");
    }
    @media screen and (min-width: $tab) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-tab-img.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/x2/hero-tab-img-x2.jpg");
      }
    }
    @media screen and (min-width: $desc) {
      padding: 200px 0;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-img.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/x2/hero-img-x2.jpg");
      }
    }
  }
  &__title {
    text-align: center;
    margin: 0px auto 30px;
    color: #ffffff;
    @include font-base(900, 26, 42);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (min-width: $desc) {
      width: 696px;
      @include font-base(900, 44, 60);
    }
  }
  &__button {
    margin: 0px auto;
    padding: 10px 29px;
  }
}
